@import "../variables";

.pagination {
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 30px;

    button {
        margin: 5px;
        border: none;
        background-color: rgba(0, 0, 0, 0);
    }

    .active {
        color: red;
    }

    .button-pag {
        color: black;
    }
    

}