@import "../variables";

.post-block {
  margin: 40px 0;
  width: 50%;

  .post-title {
    font-size: 20px;
  }

  .post-title:hover {
    border-bottom: solid $yellow 1px;
  }

  .post-user {
    font-size: 13px;
    color: $grey;
    margin: 10px 0 0 0;
  }
}
