@import "../variables";

.post {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://images.pexels.com/photos/9225270/pexels-photo-9225270.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  padding: 0 30px 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  .logo {
    display: flex;
    justify-content: end;
    color: white;
    font-size: 30px;
    padding: 10px 20px;

    span {
      color: $yellow;
      padding: 0 0 0 5px;
    }
  }

  .content-post-edit {
    display: flex;
    flex-direction: column;
    align-items: center;

    .input-title {
      width: 70%;
      height: 30px;
      padding: 3px;
    }

    .input-body {
      width: 70%;
      height: 400px;
      padding: 10px;
      margin: 20px;
    }

    .button-post {
      border-radius: 50px;
      width: 80px;
      height: 20px;
      margin: 0 5px;
      border: solid white 1px;
      color: white;
    }

    .button-post:hover {
      border: solid $yellow 1px;
      color: $yellow;
    }
  }

  .content-post {
    margin: 70px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .content {
      h3 {
        color: white;
        font-size: 30px;
        // text-align: center;
        margin: 0 0 40px 0;
      }

      .post-body {
        // text-align: center;
        color: $grey;
        margin: 20px 0;
        font-size: 18px;
      }
    }

    .bottom-content {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .post-user {
        color: $yellow;
        text-align: start;
      }

      .content-button {
        .button-post {
          border-radius: 50px;
          width: 80px;
          height: 20px;
          margin: 0 5px;
          border: solid white 1px;
          color: white;
        }

        .button-post:hover {
          border: solid $yellow 1px;
          color: $yellow;
        }
      }
    }
  }
}
